/* From Uiverse.io by andrew-demchenk0 */ 
.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #4c5b6e;
  background-color: #4c5b6e;
  overflow: hidden;
}

.button, .button__icon, .button__text {
  transition: all 0.4s;
}

.button .button__text {
  transform: translateX(-57px);
  color: #fff;
  font-weight: 600;
}

.button .button__icon {
  position: absolute;
  transform: translateX(1px);
  height: 100%;
  width: 40px;
  background-color: #4c5b6e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button .svg {
  width: 15px;
  fill: #fff;
}

.button:hover {
  background: #4c5b6e;
}

.button:hover .button__text {
  color: transparent;
}

.button:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button:active .button__icon {
  background-color: #4c5b6e;
}

.button:active {
  border: 1px solid #4c5b6e;
}
